<!DOCTYPE html>
<html>
  <head>
    <title>Flickr Snippet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/snippet.css" rel="stylesheet">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body ng-app="FlickrSnippet">
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
    <script src="../static/js/main.js"></script>
    <div class="container" ng-controller="FlickrController">
      <h1>Flickr Snippet</h1>
      <form role="form" ng-submit="getPhotos()">
        <div class="form-group">
          <input type="text" ng-model="galleryId" name="galleryId" class="form-control" id="galleryId-box" placeholder="Enter Flickr Gallery Id..." style="max-width: 300px;" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <div class="form-group">{a status a}</div>
      </form>
      <br>
      <div>
        <h>Gallery Photos</h>
        <br>
          <div style="overflow-x: scroll;">
          <table>
            <tr>
              <td ng-repeat="photo in photos" id="{a $index a}" style="background-color:white">
                <table>
                  <tr>
                    <td><img src="{a photo.url_q a}" ng-click="toggle($index)"></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div ng-show="selection!=-1" style="width:auto;">
        <h>Photo Metadata</h>
        <br>
        <table>
          <tr>
            <td>ID</td>
            <td>{a photoId a}</td>
          </tr>
          <tr>
            <td>Title</td>
            <td>{a photoTitle a}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{a photoDescription a}</td>
          </tr>
          <tr>
            <td>Owner Name</td>
            <td>{a photoOwnername a}</td>
          </tr>
          <tr>
            <td>Tags</td>
            <td>{a photoTags a}</td>
          </tr>
          <tr>
            <td>Views</td>
            <td>{a photoViews a}</td>
          </tr>
          <tr>
            <td>Original Size</td>
            <td><a href="{a photoURL a}" target="_blank">Open In New Tab</a></td>
          </tr>
        </table>
      </div>
      <br>
      </div>
  </body>
</html>